 body {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 a {
     text-decoration: none;
 }

 body {
     background-color: #F1F2F4;
 }

 .container {
     max-width: 1334px;
 }


 header {
     height: 70px;
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: space-between;
     color: #474748;
     background-color: white;
     padding-right: 18px;
 }

 .logo {
     width: 160px;
 }

 .search {
     height: 40px;
     width: 560px;
     border-radius: 5px;
     display: flex;
     align-items: center;
     color: #777A7E;
     background-color: #F0F5FF;
 }

 .search i {
     font-size: 1.4rem;
     margin: 0px 10px;
 }

 .search input {
     height: 40px;
     width: 100%;
     background: transparent;
     font-size: 1.1rem;
 }

 .icon {
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 10px;
     font-weight: 400;
 }


 .download {
     display: none;
     /* Hidden by default */
 }

 /* Responsive Design */
 @media screen and (max-width: 642px) {
     .search {
         display: none;
         /* Hide search bar */
     }


     .Cart span {
         display: none;
     }

     .fa-store {
         display: none;
     }

     .seller span {
         display: none;
     }

     .menudot {
         display: none;
     }

     .download {
         display: flex;
         padding-left: 55px;
     }

     .logo {
         padding-left: 0;
     }

     header {
         justify-content: space-between;
     }
 }


 .slider {
     position: relative;
     width: 100%;
     max-width: 1425px;
     margin: 0px auto;
     overflow: hidden;

 }

 .slides {
     display: flex;
     transition: transform 0.5s ease-in-out;
 }

 .slide {
     flex-shrink: 0;
     width: 100%;
     position: relative;
 }

 .slide img {
     width: 100%;

     object-fit: cover;

 }

 /* info */

 .Information h2 {
     font-size: 1rem;
     color: #878787;
     font-weight: 600;
 }

 .Information {
     font-size: 0.8rem;
     padding: 30px;
     color: gray;
 }

 /* footer */

 footer {
     background-color: #212121;
     color: white;
     width: 100%;
     padding: 20px;

 }

 .f-container {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     flex-wrap: wrap;
     gap: 20px;

 }

 .f-section h3 {
     font-size: 0.9rem;
     color: rgb(155, 154, 154);
     margin-bottom: 10px;
 }

 .f-section ul {
     list-style: none;
     padding: 0;
 }

 .f-section li a {
     color: white;
     text-decoration: none;
     font-size: 0.8rem;
 }

 .f-section li a:hover {
     color: yellow;
 }

 .f-section p {
     font-size: 0.8rem;
     line-height: 1.5;
 }

 #fc {
     border-bottom: 1px solid gray;
     padding: 20px;
     height: 250px;
 }

 #mail {
     border-left: 1px solid gray;
     padding-left: 30px;
 }

 #reg a {
     color: #2674e3;
 }

 .social {
     margin: 10px 0px;
 }

 .soclink {
     display: flex;
     gap: 10px;
     font-size: 1.2rem;
 }

 .combined {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     width: 100%;
     flex-wrap: wrap;
     padding-top: 20px;

 }

 .footer-link {
     display: flex;
     flex-direction: row;
     gap: 8px;
     font-size: 0.8rem
 }

 .footer-link a {
     text-decoration: none;
     color: #ffcc00;
     font-weight: bold;
     display: flex;
     gap: 2px;
     font-size: 0.8rem
 }

 .footer-link:hover {
     text-decoration: underline;
 }


 .bottom {
     font-size: 0.8rem;
     color: white;
     align-items: center;
 }